{{ define "main" }}
{{- $description := .Params.description }}
<article class="article--{{ .Section }}">
  <div class="container">
    <div class="columns">
      <section class="column is-2 is-hidden-touch article--docs--nav">
        {{ partial "docs-nav.html" . }}
      </section>

      <section class="column is-8 is-12-touch article--docs--content">
        <h1 class="is-size-1 title">{{ .Title }}</h1>
        {{- with $description }}
        <h2 class="is-size-3 subtitle">{{ . }}</h2>
        {{- end }}

        <hr />

        <section class="content">
          {{ .Content }}
        </section>
      </section>

      <aside class="column is-2 is-hidden-touch article--docs--toc">
        <div class="toc--container">
          <h4 class="is-size-4 title">{{ .Title }}</h4>
          {{ .TableOfContents }}
        </div>
      </aside>
    </div>
  </div>
</article>
{{ end }}
