// Font imports
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700')
  
// Initial Bulma variables
@import ../../node_modules/bulma/sass/utilities/initial-variables
@import ../../node_modules/bulma/sass/utilities/functions

@import variables

=shadow
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px

=thin
  font-weight: 300

.is-twitter-blue
  .icon
    color: $twitter-blue

    &:hover
      color: darken($twitter-blue, 25%)

.is-github
  .icon:hover
    color: $grey-light

.navbar
  .navbar-title
    margin-left: 10%

  .navbar-burger
    span
      color: $primary

.hero
  .buttons
    margin-top: 2rem
    
  .hero-body
    background-color: $orange
    background-image: url("/img/jumbotron-background.png")

.hero-main
  padding: $hero-main-padding-y 0

  &-buttons
    margin-top: 2rem

.hero-title, .hero-subtitle
  +shadow

.hero-title
  +thin
  font-size: $hero-font-base
  line-height: 57px
  margin-bottom: 1rem

.hero-subtitle
  font-size: $hero-font-base * .5

.section
  &--announcement
    background-color: $white-ter
    padding: 1.5rem 5%
  
  &--features
    margin: 0 5%

  &--quote
    img.sre
      max-width: 40%

    .quote

    .source
      padding: 0 3rem
  
  &--opensource
    .oss
      margin-left: 2rem

    .msg
      font-size: 1.1rem

    .cncf-logo
      margin-top: 2rem
      max-width: 40%

// Final Bulma import
@import ../../node_modules/bulma/bulma
