// Initial Bulma variables
@import ../../node_modules/bulma/sass/utilities/initial-variables
@import ../../node_modules/bulma/sass/utilities/functions

@import variables

.navbar-title
  color: $gray
  margin-left: 10%
  font-size: 1.75rem

// Final Bulma import
@import ../../node_modules/bulma/bulma
