{{- $title := .Site.Params.hero.title }}
{{- $subtitle := .Site.Params.hero.subtitle }}
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="hero-main">
        <h1 class="hero-title has-text-white has-text-weight-normal is-size-1 is-size-2-mobile">
          {{ $title }}
        </h1>
        <h2 class="hero-subtitle has-text-white is-size-4 is-size-5-mobile">
          {{ $subtitle }}
        </h2>
        <div class="hero-main-buttons">
          <div class="buttons is-centered">
            <a class="button is-uppercase is-medium is-dark is-rounded" href="/docs/getting-started">Get started</a>
            <a class="button is-uppercase is-medium is-dark is-rounded" href="/download">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
