{{- $navbarLogo := printf "/img/logos/%s" .Site.Params.logos.navbar | absURL }}
<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{{ $navbarLogo }}" alt="Prometheus navbar logo">
        <span class="navbar-title has-text-grey-lighter is-size-3 is-size-4-tablet is-size-5-mobile">
          {{ .Site.Title }}
        </span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-uppercase has-text-grey-light has-text-weight-bold">
            Docs
          </a>
      
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Overview
            </a>
            <a class="navbar-item">
              Elements
            </a>
            <a class="navbar-item">
              Components
            </a>
            <hr class="navbar-divider">
            <div class="navbar-item">
              Version 0.7.1
            </div>
          </div>
        </div>

        <a class="navbar-item is-uppercase has-text-grey-light has-text-weight-bold">
          Download
        </a>

        <a class="navbar-item is-uppercase has-text-grey-light has-text-weight-bold">
          Community
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-uppercase has-text-grey-light has-text-weight-bold" href="/blog">
            Blog
          </a>
      
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Post 1
            </a>
            <a class="navbar-item">
              Post 2
            </a>
            <a class="navbar-item">
              Post 3
            </a>
            <hr class="navbar-divider">
            <div class="navbar-item">
              Version 0.7.1
            </div>
          </div>
        </div>

        <a class="navbar-item is-twitter-blue">
          <span class="icon">
            <i class="fab fa-lg fa-twitter"></i>
          </span>
        </a>

        <a class="navbar-item is-github">
          <span class="icon">
            <i class="fab fa-lg fa-github"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
