{{- $quote := .Site.Params.quote.text -}}
{{- $source := .Site.Params.quote.source -}}
<section class="section section--quote has-background-black-ter">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-half">
       <img class="sre" src="/img/site-reliability-engineering.jpg">
      </div>

      <div class="column">
        <blockquote class="has-text-white quote has-text-weight-normal is-size-4 is-size-5-tablet">
          &ldquo;{{ $quote }}&rdquo;
        </blockquote>

        <p class="source is-size-4 is-size-5-tablet">
          {{ $source | markdownify }}
        </p>
      </div>
    </div>
  </div>
</section>
